/* components/ProductGrid.module.css */
.productGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px; /* Gap between grid items */
  max-width: 1200px; /* Optional: Limit maximum width of grid */
  margin: 0 auto; /* Optional: Center align grid */
}

.productCard {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.productCard img {
  max-width: 100%;
  height: auto;
}

.productDetails {
  margin-top: 10px;
}

.productDetails h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.productDetails p {
  font-size: 16px;
  color: #888;
}

.productDetails button {
  background-color: #0070f3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.productDetails button:hover {
  background-color: #0058b3;
}

.viewAllButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.viewAllButton button {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50; /* Add border */
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewAllButton button:hover {
  background-color: #45a049;
}

